.all_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    width: 300px;
    min-height: 300px;

    color: var(--gray);
    box-shadow: 5px 5px 10px #22222270;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    
    background: rgba(212, 0, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgb(192, 98, 255);
}

.card h3 {
    color: var(--last);
}

.card p {
    color: var(--white);
}

.card_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_icones {
    display: flex;
    gap: 10px;
    
    color: var(--last);
    font-size: 24px;
}

.card_botao {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    background-color: var(--terceary);
    color: var(--white);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.card_botao:hover {
    background-color: var(--last);
    transition: all 0.5s;
}