.home {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home img {
    height: 500px;
}

.home p {
    color: var(--white);
    font-weight: bold;
    font-size: 3rem;
}

.mainName {
    color: var(--terceary);
    overflow: hidden;
    border-right: .10em solid rgb(153, 0, 255);
    white-space: nowrap;
    animation:
        typing 1s steps(20, end) forwards,
        blink .8s infinite;
}

@keyframes blink {
    from {
        border-color: transparent
    }

    to {
        border-color: rgb(160, 102, 236);
    }
}

.apresentacao {
    padding: 50px;
    background: rgba(212, 0, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 50px;
    border: 1px solid rgb(192, 98, 255);
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: bold;

    border: 0;
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn_purple {
    color: var(--white);
    background-color: var(--secondary);
}

.btn_purple:hover {
    background-color: var(--terceary);
}

.frase {
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;

    padding: 50px;
    background: rgba(212, 0, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 50px;
    border: 1px solid rgb(192, 98, 255);
}

.nameText {
    font-weight: lighter;
    color: var(--terceary);
}

* {
    scrollbar-width: auto;
    scrollbar-color: #563cb4 #3b114b;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #3b114b;
}

*::-webkit-scrollbar-thumb {
    background-color: #563cb4;
    border-radius: 10px;
    border: 3px solid #ffffff;
}